<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/login_register.css">
    <title>Log in</title>
</head>
<body>
    <section class="page">
    <div class="contanier">
        <form class="form" action="/login" method="POST">
          <h1> Log in </h1>
          
          <input type="text" placeholder="Username" name="username">
          <input type='password' placeholder="Password" name="password">
        
          <a href="#" type="text">Forgot password?</a>
          <!-- <a href="#" type="submit">Submit</a> -->
          <button class="a">Submit</button>
          <div class="text">
          <p>Or</p>
          <p>Sing in using social media.</p>
          </div>
         <div class="social-media">
            <a href="" class="social-link">
                <i class="fab fa-google"></i>
            </a>

            <a href="" class="social-link">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a href="" class="social-link">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="" class="social-link">
                <i class="fab fa-linkedin"></i>
            </a>
         </div>
        </form>

      </div>
    </section>
</body>

</html>